/**
* FishEye : Buttons
**/
/* Button */
.btn {
    font-size: clamp(1.8rem, 2vw, 2rem);
    font-weight: bold;
    color: var(--color-light);
    padding: 15px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

/* Contact Button */
.contact_button {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-color: #901C1C;
    
}

.contact_submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Heart Button */
.button-heart {
    width: 21px;
    height: 24px;

    /* position: fixed; */
	/* border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease; */
}

/* .button:hover{

} */
/* .active#heart:before,.active#heart:after{
	background: red !important;
} */

/* Button Close */
button.btn_close {
    background-color: transparent;
}

.btn_close:hover::before{
    color: var(--color-primary);
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: var(--color-light);
    font-size: clamp(2rem, 3vw, 3rem);
}