/**
* FishEye : Photographer Page
**/

.main-page {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    /* padding: 0; */
    padding: 0 100px;
    /* padding-bottom: 100px; */
    background: var(--color-light);
}

.header-page {
    height: 70px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
}

/* Photographer Header */
.photographer-header {
    width: 100%;
    margin: 0 auto;
    /* margin: 0 100px; */
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--color-light-medium);
}

.photographer-profile_infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.photographer-header img {
    height: clamp(10rem, 20vw, 20rem);
    width: clamp(10rem, 20vw, 20rem);
    border-radius: 50% ;
    /* filter: grayscale(20%); */
}

/* Photographer Content : Medias */
.photographer-content {
    width: 100%;
    /* max-width: 1240px; */
    margin: 0 auto;
    /* margin: 0 100px; */
    margin-top: 100px;
    /* padding: 0 100px; */
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 60px;
}

.gallery_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animeCard{
    animation: fade .2s ease-in-out;
}

.gallery_card a{
    border-radius: 5px;
    overflow: hidden;
}

.gallery_card a figure{
    height: 260px;
    transition: all .2s ease-in-out;
}

.gallery_card a:hover figure{
    transform: scale(1.05);
}

.gallery_card a:focus:not(:hover){
    outline: 2px solid var(--color-secondary);
}

.gallery_thumbs {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    will-change: transform;
}

.gallery_card figcaption{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gallery_card figcaption h2{
    color: var(--color-primary);
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    font-weight: 100;
}

.gallery_card figcaption div{ 
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-primary);
    font-size: clamp(1.8rem, 2vw, 2.2rem);
}

/* photographer-asidebar */
.photographer-info {
    position: fixed;
    width: 376px;
    height: 89px;
    bottom: 0;
    right: 50px;
    border-radius: 5px;
    background: #DB8876;
    z-index: 99999999999;
}


/* Contact Button */
#contact_modal {
    display: none;
}