/**
* FishEye - Typographie
**/
.photographer_name {
    color: var(--color-tertiary);
    text-align: center;
    font-family: "DM Sans";
    /* font-size: 36px; */
    font-size: clamp(2.5rem, 3.2vw, 3.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_tagline {
    color: var(--color-dark);
    text-align: center;
    font-family: "DM Sans";
    /* font-size: 10px; */
    font-size: clamp(1.5rem, 1.8vw, 1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_location {
    color: var(--color-primary);
    font-family: "DM Sans";
    font-size: clamp(1.8rem, 2vw, 2rem);
    /* font-size: 13px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_price {
    color: var(--color-medium);
    text-align: center;
    font-family: "DM Sans";
    /* font-size: 9px; */
    font-size: clamp(0.563rem, 3vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}